---
//production settings
import Navigation from '/opt/buildhome/repo/components/Navigation.astro';
import Scripts from '/opt/buildhome/repo/components/scripts.astro';
import Carousel from '/opt/buildhome/repo/components/Carousel.astro';
//development settings
//import Navigation from './components/Navigation.astro';
//import Scripts from './components/scripts.astro';
//import Carousel from './components/Carousel.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Purity Cleaning Services</title>
  </head>
  <body>
    <Navigation />
    <Carousel />
    <slot />
  </body>
  <Scripts />
</html>